{% extends "base.html" %}

{% block title %}{{ title }} Plantilla Base{% endblock title %}

{% block content %}
    <h1 class="mb-4">{{ title }}</h1>
    <p class="fs-5">{{ content }}</p>
    <p>mi meta como persona es ser ya un programador ya sea en juegos o en paginas web ya que me llaman la atencion las 2 pero aun no se por cual elegir,ser alguien con sus estudios finalizados y con un buen empleo </p>

    <p>Esto se debe a mis gustos generales que son el diseño,el presentar o mostrar
        algo que me guste o de lo que estoy orgulloso,el ser lider de un equipo o trabajar
        solo y ser el encargado de una tarea importante para apoyar a los demas</p>

    <h2>me gusta mucho:</h2>
    <p>Escuchar musica ya sea en ingles o en español
        Jugar videojuegos y hcaer streaming de vez en cuando
        ir con mi familia a comer a distintos lugares
        conocer gente nueva amigable 
        ver un poco de peliculas 
        me gusta mucho los deportes casi todos me gustan
        mi nombre completo es vargas lopez leonardo estudio en la preparatoria cetis 61 y curso el 5 semestre de programacion
    </p>

{% endblock content %}