{% extends "base.html" %}

{% block title %} - Maravillas del Mundo{% endblock title %}

{% block content %}
<h1 class="mb-4 text-center">{{ title }}</h1>
<p class="fs-5 text-center">{{ content }}</p>

<h1 class="mt-5 mb-3 text-center text-white bg-primary rounded py-2">Las 7 Maravillas del Mundo</h1>

<div class="row justify-content-center">

    <div class="col-md-6 border p-3">
        <h2>Chichén Itzá</h2>
        <p>
            La <b>Chichén Itzá</b>, en México, fue una ciudad importante de la civilización maya. Su pirámide de Kukulkán es famosa por su arquitectura y fenómenos solares que ocurren en los equinoccios.
        </p>
        <div id="carouselChichen" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-6">
                            <img src="/static/img/las_maravillas/chichen (1).jpeg" class="d-block w-100" style="height:200px; object-fit: cover;" alt="Chichén Itzá">
                        </div>
                        <div class="col-6">
                            <video class="w-100" style="height:200px; object-fit: cover;" controls>
                                <source src="/static/videos/las_maravillas/chichen.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 border p-3">
        <h2>Cristo Redentor</h2>
        <p>
            El <b>Cristo Redentor</b>, en Río de Janeiro, Brasil, es una icónica estatua de 30 metros que simboliza la paz y el amor. Se encuentra en la cima del Cerro del Corcovado.
        </p>
        <div id="carouselCristo" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-6">
                            <img src="/static/img/las_maravillas/cristo (1).jpeg" class="d-block w-100" style="height:200px; object-fit: cover;" alt="Cristo Redentor">
                        </div>
                        <div class="col-6">
                            <video class="w-100" style="height:200px; object-fit: cover;" controls>
                                <source src="/static/videos/las_maravillas/cristo.mp4" type="video/mp4">
                                Tu navegador no soporta video.
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 border p-3 mt-4">
        <h2>Coliseo Romano</h2>
        <p>
            El <b>Coliseo</b>, en Roma, Italia, es un anfiteatro antiguo donde se realizaban espectáculos y combates de gladiadores. Es símbolo del poder del Imperio Romano.
        </p>
        <div id="carouselColiseo" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-6">
                            <img src="/static/img/las_maravillas/coliseo (1).jpeg" class="d-block w-100" style="height:200px; object-fit: cover;" alt="Coliseo Romano">
                        </div>
                        <div class="col-6">
                            <video class="w-100" style="height:200px; object-fit: cover;" controls>
                                <source src="/static/videos/las_maravillas/coliseo.mp4" type="video/mp4">
                                Tu navegador no soporta video.
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 border p-3 mt-4">
        <h2>Machu Picchu</h2>
        <p>
            <b>Machu Picchu</b>, en Perú, es una ciudad inca en lo alto de los Andes. Su ubicación y arquitectura la convierten en un lugar lleno de misterio y belleza.
        </p>
        <div id="carouselMachu" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-6">
                            <img src="/static/img/las_maravillas/machu (1).jpeg" class="d-block w-100" style="height:200px; object-fit: cover;" alt="Machu Picchu">
                        </div>
                        <div class="col-6">
                            <video class="w-100" style="height:200px; object-fit: cover;" controls>
                                <source src="/static/videos/las_maravillas/machu.mp4" type="video/mp4">
                                Tu navegador no soporta video.
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 border p-3 mt-4">
        <h2>Taj Mahal</h2>
        <p>
            El <b>Taj Mahal</b>, en India, es un mausoleo de mármol blanco construido por amor. Es reconocido por su simetría perfecta y belleza arquitectónica.
        </p>
        <div id="carouselTaj" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-6">
                            <img src="/static/img/las_maravillas/taj (1).jpeg" class="d-block w-100" style="height:200px; object-fit: cover;" alt="Taj Mahal">
                        </div>
                        <div class="col-6">
                            <video class="w-100" style="height:200px; object-fit: cover;" controls>
                                <source src="/static/videos/las_maravillas/taj.mp4" type="video/mp4">
                                Tu navegador no soporta video.
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 border p-3 mt-4">
        <h2>Petra</h2>
        <p>
            <b>Petra</b>, en Jordania, es una ciudad excavada en roca roja. Famosa por su fachada del Tesoro, fue un importante centro comercial en la antigüedad.
        </p>
        <div id="carouselPetra" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-6">
                            <img src="/static/img/las_maravillas/petra (1).jpeg" class="d-block w-100" style="height:200px; object-fit: cover;" alt="Petra">
                        </div>
                        <div class="col-6">
                            <video class="w-100" style="height:200px; object-fit: cover;" controls>
                                <source src="/static/videos/las_maravillas/petra.mp4" type="video/mp4">
                                Tu navegador no soporta video.
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 border p-3 mt-4 mb-5">
        <h2>Gran Muralla China</h2>
        <p>
            La <b>Gran Muralla China</b> se extiende por miles de kilómetros y fue construida para proteger el imperio chino de invasiones. Es uno de los símbolos más reconocidos de China.
        </p>
        <div id="carouselMuralla" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-6">
                            <img src="/static/img/las_maravillas/muralla (1).jpeg" class="d-block w-100" style="height:200px; object-fit: cover;" alt="Gran Muralla China">
                        </div>
                        <div class="col-6">
                            <video class="w-100" style="height:200px; object-fit: cover;" controls>
                                <source src="/static/videos/las_maravillas/muralla.mp4" type="video/mp4">
                                Tu navegador no soporta video.
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
